<section id="event_info" style="background-image: url('img/portada/portada_color_liso.png'); background-size: 100% 200px; max-width: 100%; background-repeat: no-repeat;">
<!-- Page Content -->


{% for event_info in site.event_infos %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'odd' %}

    <div class="content-section-b" style="background-color: #{{ event_info.bg_color }}; color: #{{ event_info.f_color }};">
        <!--<img src="img/logo_wtm/{{ event_info.img_corner }}" class="esquina_superior_derecha"/>-->
        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ event_info.title }}</h2>
                    <div class="lead">{{ event_info.content }}</div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="clear-130 hidden-xs"></div>
                    <img class="img-responsive" src="{{ event_info.image }}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    {% else %}

    <div class="content-section-a" style="background-color: #{{ event_info.bg_color }}; color: #{{ event_info.f_color }};">
        <!--<img src="img/logo_wtm/{{ event_info.img_corner }}" class="esquina_superior_izquierda"/>-->
        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ event_info.title }}</h2>
                    <div class="lead">{{ event_info.content }}</div>
                </div>
                <div class="col-lg-6 col-sm-pull-6  col-sm-6">
                  <div class="clear-130 hidden-xs" ></div>
                  <img class="img-responsive" src="{{ event_info.image }}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    {% endif %}
{% endfor %}



<hr class="section-heading-spacer" style="border-top: 5px solid #4285f4;width: 100%;margin-top: 0px;">
<div class="clearfix"></div>
    
        
    <div class="content-section-a" style="background-color: #{{ event_info.bg_color }}; color: #{{ event_info.f_color }};">
        <!--<img src="img/logo_wtm/{{ event_info.img_corner }}" class="esquina_superior_izquierda"/>-->
        <div class="container">
            <div class="row" style="background-color: #fff;">
                <div class="clearfix"></div>
                <div class="col-lg-10 col-lg-offset-1" style="background-color: #fff; padding-top: 50px;">
                    <div class="col-lg-6  col-sm-6" style="min-height: 50px; height: auto;">
                        <img src="img/logo_wtm/wtm_zgz_1_sin_powered_con_margen.png" style="width: 100%;"/>
                    </div>

                    <div class="col-lg-6  col-sm-6" style="min-height: 50px; height: auto;">
                        <img src="img/logo_wtm/gdg_con_margen.png" style="width: 100%;"/>
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="clearfix"></div>
                <div class="col-lg-10 col-lg-offset-1" style="background-color: #fff; padding-top: 10px;">
                    <div class="col-lg-7  col-sm-7">
                        <div class="clearfix"></div>
                        <h2 class="section-heading" style="font-size: 24px !important;">Women Techmakers</h2>
                        <div class="lead">Se trata de una iniciativa promovida a nivel global por Google para <strong>visibilizar a las mujeres</strong> en el ámbito de la tecnología.<br/><br/>Women Techmakers quiere crear una comunidad con visibilidad, generando recursos que impulsen la innovación y la participación de las mujeres en este campo.<br/></div>
                        <div class="clearfix"></div>
                        <h2 class="section-heading" style="font-size: 24px !important;">¿A quién está dirigido?</h2>
                        <div class="lead">Se trata de un <strong>evento abierto</strong> a cualquier persona interesada en el mundo de la tecnología.<br/><br/>Queremos abarcar diferentes temas como <strong>nuevas tecnologías, agile, comunicación, desarrollo web, UX</strong> o cualquier tema interesante del sector.<br/><br/>La asistencia al evento está abierta tanto a hombres como a mujeres, pero las ponentes serán únicamente mujeres, ya que uno de los objetivos es darles visibilidad así como ofrecer ayuda y colaboración.</div>
                    </div>
                    <div class="col-lg-5  col-sm-5">
                        <!--<div class="clearfix" style="height: 25px;"></div>
                      <h2 class="section-heading" style="font-size: 24px !important;"> </h2>-->
                        <div class="lead" style="font-size: 26px; font-weight: bold; color: #4285f4;">En Women Techmakers Zaragoza 2019 tuvimos 285 asistentes, 35 ponentes mujeres y 4 mentoras, 22 charlas y 3 talleres, 94 propuestas recibidas en el Call for Papers, 30 patrocinadores y colaboradores, 2 tracks de charlas + 2 aulas de talleres, 10 medios de comunicacion se hicieron eco, 1600 followers en Twitter<br/></div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>

    <header id="top" class="container header">
        <div class="row-fluid">
            <div class="col-md-12 col-sm-12 text-center" style="padding-right: 0px; padding-left: 0px;">
                <img src="img/imgs_grupo/wtmzgrupo.jpg" style="/*max-width: 90%;*/max-width: 100%;" class="image_full1"/>
                <img src="img/imgs_grupo/wtmzgrupo.jpg" style="max-width: 100%" class="image_mobile1"/>
            </div>
        </div>
    </header>
</section>
