<section id="goals" class="goals">
    <!--<img src="img/logo_wtm/solo_circulos_verdes_giro.png" class="esquina_superior_derecha"/>
    <img src="img/logo_wtm/solo_circulos_blancos.png" class="esquina_inferior_izquierda"/>-->
    <div class="content-section-a">
        <div class="container">
            <div class="row text-center">
                <hr class="section-heading-spacer" style="border-top: 5px solid #4285f4; width: 300px;">
            </div>
            <div class="row text-center">
                <h2 style="text-align: left;">Objetivos</h2>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-2">
                    <p class="lead highlight" style="font-size: 24px;">Fomentar las <span class="wtm-bold">relaciones</span> entre mujeres del ámbito de la tecnología. </p>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-10 col-lg-offset-2">
                    <p class="lead highlight" style="font-size: 24px;"><span class="wtm-bold">Visibilizar y dar voz</span> a las profesionales de la tecnología y compartir experiencias. </p>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-10 col-lg-offset-2">
                    <p class="lead highlight" style="font-size: 24px;">Formar a niñas y niños en <span class="wtm-bold">temas tecnológicos</span> mediante talleres. </p>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-10 col-lg-offset-2">
                    <p class="lead highlight" style="font-size: 24px;">Promover referentes para las más jóvenes, que vean que están <span class="wtm-bold">capacitadas</span> de sobra para trabajar en el sector tecnológico. </p>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-10 col-lg-offset-2">
                    <p class="lead highlight" style="font-size: 24px;">Hacer un evento en el que nos sintamos <span class="wtm-bold">cómodas</span> y que sea seguro. </p>
                </div>

            </div>

        </div>
        <!-- /.container -->
    </div>
</section>
