<section id="join-sponsors" class="sponsors">
    <div class="content-section-a">
        <div class="container">
            <div class="row text-center">
              <hr class="section-heading-spacer" style="border-top: 5px solid #4285f4; width: 300px;">
            </div>
            <div class="row text-center" style="margin-bottom: 15px;">
                <h2 style="text-align: left;">Patrocina WTM Zaragoza</h2>
            </div>

            <div class="row">
                <div class="col-lg-10  col-lg-offset-2">
                    <p class="lead">¡Queremos promover referentes femeninos en la tecnología impulsando a más mujeres de nuestro entorno para que en el futuro no sean consideradas una rareza!</p>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-10  col-lg-offset-2">
                    <p class="lead">Nada de esto sería posible sin la colaboración de patrocinadores: gracias a ellos y ellas podemos ofrecer un evento de más calidad y llegar a un público mayor. </p>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-10  col-lg-offset-2">
                    <p class="lead"><strong>¿Te animas a patrocinar?<br/>Te ofrecemos la oportunidad de dar a conocer tu empresa, tus proyectos y tu compromiso con la diversidad en la tecnología siendo patrocinador de nuestro evento.</strong> </p>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-10  col-lg-offset-2">
                    <p class="lead">Además, aparecerás en nuestra web, en las pantallas del auditorio y podrás llegar a los asistentes con material en el pack de bienvenida.</p>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-10  col-lg-offset-2">
                    <p class="lead">Ya tienes a tu disposicion un dossier informativo con toda la informacion de nuestros paquetes de patrocinio.</p>
                </div>
                <!--
                <div class="col-lg-10  col-lg-offset-2">
                    <p class="lead">¡Ahora también puedes consultar nuestro dossier de patrocinio en inglés!</p>
                </div>
                -->
                <!--
                <div class="col-lg-10  col-lg-offset-2">
                    <p class="lead">Proximamento pondremos a tu disposicion un dossier informativo con toda la informacion de nuestros paquetes de patrocinio.</p>
                </div>
                -->
            </div>

            <div class="row">
                <div class="col-lg-10  col-lg-offset-2">
                    <p class="lead">¡Ponte en contacto con nosotras!  Escribenos a
                    <a href="mailto:wtmz@mullerestech.es?Subject=Dudas patrocinio">wtmz@mullerestech.es</a>
                    </p>
                    <p class="lead">Estaremos encantadas de escucharte :)</p>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-4 text-center">
                    <a class="btn btn-dark btn-primary btn-lg" href="mailto:{{ site.email }}">
                        Contacta con nosotras
                    </a>
                </div>
                <div class="col-lg-4 text-center" id="consulta_dossier">
                    <a class="btn btn-dark btn-primary btn-lg" target="_blank" href="pdf/Dossier_patrocinio_WTM_Zaragoza_2023_ES.pdf">
                        Consulta nuestro dossier
                    </a>
                </div>
                <div class="col-lg-4 text-center" id="consulta_dossier_eng">
                    <a class="btn btn-dark btn-primary btn-lg" target="_blank" href="pdf/Sponsorship_portfolio_WTM_Zaragoza_2023_ENG.pdf">
                        Check out our portfolio
                    </a>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
</section>
