<section id="list-speakers" class="speakers">
  <div class="container">
    <div class="row text-center">
      <hr class="section-heading-spacer" style="border-top: 5px solid #4285f4; width: 300px;">
    </div>
    <div class="row text-center">
      <h2 style="text-align: left;">Ponentes</h2>
      <div class="col-lg-10 col-lg-offset-2">
        <p class="lead_big">¡Proximamente publicaremos las ponentes de las charlas y talleres seleccionados! </p>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
<!-- /.container -->
</section>
